Builds/
builds/
*.pidb.meta
sysinfo.txt

# =============== #
# Unity generated #
# =============== #
Library/
library/
Temp/
temp/
Obj/
obj/
Build/
build/
UnityGenerated/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
